@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "notsan"; /* フォントファミリーの名前を指定 */
  src: url("./assets/notsan.ttf") format("truetype"); /* フォントファイルへのパスを指定 */
  /* 他のスタイル設定（オプション） */
}
* {
  padding: 0%;
  margin: 0%;
  white-space: nowrap;
  font-size: 16px;
  font-family: "notsan";
  color: rgb(56, 56, 56);
}

table,
th,
td {
  border: 1px solid black;
}

.table-drag-hover {
  background-color: lightblue !important;
}
